*{
    padding: 0;
    margin: 0;
}
header{
    height: 100px;
    background-color: black;
    
}

.Logo{
    height: 80px;

}

.Bolo{
    height: 380px;
}

main{
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
    justify-content;
}



.titulo {
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.ingredientes-container{
  width: 600px;
  align-items: left;
}

.ingredientes-container ul{
    padding-left: 32pt;
    background-color: aqua;
    
}

